.home-list {
  position: relative;
  height: 100vh;
  padding: 0 10px;
  font-size: 16px;
  .title {
    margin-top:20px;
    margin-bottom: 20px;
    padding-left: 20px;
    border-left: 3px solid #2CAF64;
  }
  .search-condition {
    margin: 20px 0;
    border: 1px solid #e2e2e2;
    .condition-title {
      padding: 0 20px;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      border-bottom: 1px solid #e2e2e2;
      background-color: azure;
      .open-btn {
        span {
          cursor: pointer;
        }
        .search-btn {
          padding: 5px 10px;
          font-size: 14px;
          background-color: white;
          border: 1px solid #e2e2e2;
        }
      }
    }
    .condition {
      position: relative;
      padding: 20px;
      .item {
        float: left;
        height: 50px;
        line-height: 50px;
        .name {
          float: left;
        }
        .value {
          margin: 0 15px;
          float: left;
          .el-input input {
            width: 130px;
            padding: 0 5px;
          }
          .start-input, .end-input {
            width: 200px;
            input {
              width: 200px;
              padding: 0 35px;
            }
          }
        }
      }
    }
  }
  .demo-table-expand {
    font-size: 0;
  }
  .demo-table-expand label {
    color: #99a9bf;
  }
  .el-table__expanded-cell{
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 48px;
  }
  .search-list {
    margin: 10px 0;
    // border: 1px solid #e2e2e2;
    .condition-title {
      padding: 0 20px;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      border-top: 1px solid #e2e2e2;
      border-left: 1px solid #e2e2e2;
      border-right: 1px solid #e2e2e2;
      background-color: azure;
      .open-btn {
        span {
          cursor: pointer;
        }
        .search-btn {
          padding: 5px 10px;
          font-size: 14px;
          background-color: white;
          border: 1px solid #e2e2e2;
        }
      }
    }
  }
  .homoGeneity-list{
    display:flex;
    .detail{
      flex: 1;
      text-align: center;
      height: 42px;
      line-height: 42px;
      border-left: 1px solid #ebeef5;
    }
  }
  .homoGeneity-list:nth-child(n+2){
    border-top: 1px solid #ebeef5;
  }
  .homoGeneity-list:nth-child(3n){
    border-top: 1px solid #ebeef5;
  }
}
