// 数据管理 》数据上传 》弹框
.upload-alert{
  width:600px;
  height:400px;
  .el-message-box__header{
    height:40px;
    padding:0 20px;
    background-color:rgba(242, 242, 242, 0.658823529411765);
    .el-message-box__title{
      height:40px;
      line-height:40px;
      font-size:16px;
      font-weight:700;
    }
    button{
      top:1px;
      font-size:26px;
    }
  }
  .el-message-box__content{
    .el-message-box__message{
      p{
        .content{
          height:240px;
          overflow:hidden;
          .img{
            margin-top:100px;
            width:80px;
            height:80px;
            margin-left:calc(50% - 40px);
            border-radius:40px;
            font-size:70px;
            background-color:#51c41a;
            color:#fff;
            line-height:80px;
            padding-left:4px;
          }
          .des{
            overflow:hidden;
            margin-top:20px;
            li{
              text-align:center;
              font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
              font-weight: 700;
              font-style: normal;
              color: #333333;
              font-size:18px;
            }
          }
        }
      }
    }
  }
  .el-message-box__btns{
    text-align:center;
    button{
      width:196px;
      height:40px;
    }
  }
}
// toc 分页样式
.toc-pagination{
  //border:1px solid red;
  text-align:right;
  padding-right:20px;
  margin-top:60px;
  margin-bottom:20px;
}
