.inventory-status {
  .list-title {
    height: 60px;
    padding: 10px 20px;
    background-color: azure;
    .query-list {
      line-height: 40px;
      font-size: 14px;
    }
    .unfold-screen {
      &:hover {
        color: #2CAF64;
        cursor: pointer;
      }
    }
    .query-result {
      margin-left: 10px;
    }
  }
  .screen-list {
    .w15 {
      width: 15%;
      .value {
        width: 150px;
      }
    }
    .w20 {
      width: 20%;
    }
    .w25 {
      width: 25%;
      .el-date-editor.el-input, .el-date-editor.el-input__inner {
        max-width: 150px;
      }
      input {
        max-width: 150px !important;
      }
    }
    .w30 {
      width: 30%;
    }
    .w50 {
      width: 50%;
    }
    .n-m {
      margin: 0 !important;
    }
    .form-item {
      float: left;
      margin-top: 20px;
      &:after{
        content:"";
        visibility:hidden;
        display:block;
        font-size:0;
        clear:both;
        height:0;
      }
      .name {
        text-align: right;
        width: 80px;
        float: left;
        line-height: 40px;
        margin-right: 10px;
      }
      .value {
        float: left;
        .el-checkbox.color-black {
          .el-checkbox__input {
            .el-checkbox__inner {
              background-color: black;
              border-color: black;
            }
          }
        }
        .el-checkbox.color-red {
          .el-checkbox__input {
            .el-checkbox__inner {
              background-color: red;
              border-color: red;
            }
          }
        }
        .el-checkbox.color-yellow {
          .el-checkbox__input {
            .el-checkbox__inner {
              background-color: yellow;
              border-color: yellow;
            }
          }
        }
        .el-checkbox.color-green {
          .el-checkbox__input {
            .el-checkbox__inner {
              background-color: lawngreen;
              border-color: lawngreen;
            }
          }
        }
        .el-checkbox.color-cyan {
          .el-checkbox__input {
            .el-checkbox__inner {
              background-color: cyan;
              border-color: cyan;
            }
          }
        }
        .el-checkbox {
          width: 40px;
          height: 40px;
          margin-right: 10px;
          margin-left: 0;
          .el-checkbox__label {
            display: none;
          }
          .is-checked.el-checkbox__input {
            .el-checkbox__inner {
              border: 2px solid green;
              font-family: element-icons;
              &::after {
                content: "\E611";
                color: green;
                transform: rotate(0deg) scaleY(1);
                font-size: 14px;
                font-weight: 900;
                border: 0 none;
                position: absolute;
                left: 20px;
                top: 20px;
              }
            }
          }
          .el-checkbox__input {
            width: 40px;
            height: 40px;
            .el-checkbox__inner {
              width: 40px;
              height: 40px;
              cursor: pointer;
            }
          }
        }
        input {
          max-width: 220px;
        }
      }
    }
  }
  .condition-title {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border-top: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    background-color: azure;
    margin-top: 20px;
    .open-btn {
      span {
        cursor: pointer;
      }
      .search-btn {
        padding: 5px 10px;
        font-size: 14px;
        background-color: white;
        border: 1px solid #e2e2e2;
      }
    }
  }
  .table-list {
    .color-item {
      width: 100%;
      height: 89px;
    }
    table {
      tr {
        td:last-child {
          padding: 1px;
          .cell {
            width: 100%;
            height: 100%;
            padding: 0;
          }
        }
      }
    }
    .color-item.black {
      background-color: black;
    }
    .color-item.red {
      background-color: red;
    }
    .color-item.yellow {
      background-color: yellow;
    }
    .color-item.green {
      background-color: lawngreen;
    }
    .color-item.cyan {
      background-color: cyan;
    }
  }
}
